
<div class= "container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Seja bem vindo ao meu blog</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <p class="text-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, sequi facere nulla sunt excepturi aliquam illum magnam sint dolore modi ab iure voluptas nesciunt quisquam, mollitia unde nostrum quasi facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, neque consectetur! Culpa earum architecto, similique, sapiente debitis ipsam eius tenetur eum ducimus id optio. Similique vel nihil quo harum. Voluptas.
            </p>
        </div> 
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/feed'>Ver o feed</button>
        </div>
    </div>

